{% extends "base.html" %}
{% block title %}Detalle de Gastos{% endblock %}

{% block content %}
<table>
    <tr>
        <td>Dpto</td>
        <td>Apellido</td>
        <td>Total</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanchez</td>
        <td>$123123</td>
    </tr>
</table>
{% endblock %}
