{% extends "registration/registration_base.html" %}
{% block title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}
{% block content %}
{% if account %}
<h4>Thanks {{ account }}, activation complete!</h4>
<p>You may now <a href='{% url auth_login %}'>login</a> using the username and
password you set at registration.</p>
{% else %}
<h4>Oops &ndash; it seems that your activation key is invalid.</h4>
<p>Please check the url again.</p>
{% endif %}
{% endblock %}

